.d #app #header {
    max-height: 0 !important;
    overflow: hidden !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.d #app #contents-loading {
    display: none !important;
    z-index: -1 !important;
}

.d #app .con-vs-popup {
    z-index: -1 !important;
}

.d #app .contents {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    max-width: 100%;
}

.d #app .contents > div:nth-child(1) {
    margin-bottom: 0 !important;
}
.d #app .contents > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    max-height: 0 !important;
    overflow: hidden !important;
    margin-bottom: 0 !important;
}

.d #app .contents .search-main {
    margin-bottom: 0 !important;
}
.d #app .contents .search-main .vx-card__body {
    padding-top: 5px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #e5e5e5!important;
}
.d #app .contents .search-main .vx-card__body>div.overflow-hidden{
    overflow: visible!important;
}
.d #app .search-head {
    max-height: 0 !important;
    overflow: hidden !important;
    margin-bottom: 0 !important;
}

.d #app .contents > div:nth-child(3) > div:nth-child(1) {
    display: none !important
}

.d #app .contents > div:nth-child(3) > div:nth-child(2) {
    width: 100% !important
}

.d #app .search-main .shop-item {
    width: 200px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    border-bottom: 0 !important;
    margin-bottom: 0 !important;
    position: relative!important;
    padding-left:0!important;
    padding-right:0!important;
    flex-direction: column!important;
}

.d #app .search-main .item-box {
    margin-bottom: 0 !important;
    /*border: 1px solid #e7e7e7 !important;*/
    height: 200px!important;
    overflow: hidden!important;
    background: #f0f0f0;
    width:100% !important;
}
.d #app .search-main .item-box img{
    max-height:200px!important;
}

.d #app .item-box + div{
    width: 100% !important;
    padding-left:0!important;
}
.d #app .item-box + div>a{
    white-space: inherit!important;
    height: 39px!important;
    overflow: hidden!important;
    margin-bottom: 10px!important;
    color:#000!important;
}
.d #app .item-box + div>div{
    position: absolute;
    top: 135px;
    background: rgba(0,0,0,0.4);
    padding: 2px 5px!important;
    border-radius: 0 15px 15px 0;
    pointer-events: none;
}
.d #app .item-box + div>div>a{
    max-height: 0 !important;
    overflow: hidden !important;
}
.d #app .item-box + div>div>div p,
.d #app .item-box + div>div>div span{
    color:#fff!important;
}
.d #app .item-box + div>div>div p::before{
    content: '¥';
}
.d #app .item-box + div>div>div p span:last-child{
    display: none!important;
}

.d #app #fj_bnr_camp {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d #app .search-bar > div:last-child{
    max-height: 0 !important;
    overflow: hidden !important;
}

.d #app .search-main + div {
    max-height: 0 !important;
    overflow: hidden !important;
    margin-bottom: 0!important;
}

.d #app .toolbox,
.d #app .lightbox.z-50000{
    max-height: 0 !important;
    overflow: hidden !important;
    padding: 0 !important;
}

@keyframes dCountDown {
    0% {
        transform: scaleX(0);
    }
    1% {
        transform: scaleX(0.98);
    }
    2% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.dToggle {
    display: block;
    line-height: 0;
}

.dToggle input + span {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 30px;
    background: rgb(129 129 129);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    border-radius: 12px;
    padding: 0 3px;
    margin: 2px 0;
}

.dToggle input:checked + span {
    text-align: right;
    background: rgb(47 183 30);
    color: #fff
}

.dToggle.dRed input:checked + span {
    background: rgb(232 75 68);
}

.dToggle.dYellow input:checked + span {
    background: rgb(220 198 43);
}

.dControl {
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 100002;
    opacity: 0.9;
    padding: 3px;
    background: rgb(42 42 42);
    border-radius: 5px 0 0 5px;
}

.dLine {
    height: 2px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100001;
    background: #c00;
    transform: scaleX(0);
    transform-origin: left center;
    opacity: 0.9;
}
.dLine.reload-provisioning{
    background: #f28000e6;
}
/* 4Jun */
.d #app .contents .hidden.w-full.lg\:w-1\/4.mb-base {
    width:0!important;
    overflow:hidden;
}
.d #app .contents .flex.lg\:w-3\/4.items-start {
    width: 98%!important;
}
.d #app .contents > div:nth-child(1){
    height:0px;
    overflow: hidden;
}
.d #app [class^="karte-widget"]{
    height: 0px!important;
    overflow: hidden;
}