.d mer-heading,
.d mer-heading + mer-text{
    margin-bottom: 0 !important;
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [data-testid='cross-border-banner'] {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [class*='SearchControlsAboveItemGrid'] {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [class*='SignInSignUpNavigation'] {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d .sticky-inner-wrapper > mer-text {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [class*='SortSelector'] {
    max-height: 0 !important;
    overflow: hidden !important;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-bottom: 0;
}
.d [class*='CrossBorderBanner'] {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d #main {
    padding-top: 1px !important;
    max-width: 100% !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.d #item-grid>ul {
    display: flex !important;
    flex-wrap: wrap !important;
    grid-gap: 15px 10px !important;
}

.d #search-filter {
    display: none !important;
}

.d #search-result {
    grid-column: span 12 / auto !important;
}

.d [data-testid='item-cell'] {
    width: 200px !important;
}

.d mer-navigation-top {
    overflow: hidden !important;
}

.d .mer-spacing-b-16 {
    margin-bottom: 0 !important;
}

.d nav[slot='end'] {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d mer-navigation-top {
    height: 50px !important;
}

.d #item-grid > mer-separator,
.d #item-grid > section {
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [class*='FloatingButton__FloatingContainer'],
.d [class*='NavBar__StyledNavigationBottom']{
    max-height: 0 !important;
    overflow: hidden !important;
}

.d [data-testid='item-cell'] {
    position: relative !important;
}

.d [data-testid='item-cell']::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer
}

@keyframes dCountDown {
    0% {
        transform: scaleX(0);
    }
    4% {
        transform: scaleX(0.98);
    }
    12% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.dToggle {
    display: block;
    line-height: 0;
}

.dToggle input + span {
    cursor: pointer;
    display: inline-block;
    height: 14px;
    width: 30px;
    background: rgb(129 129 129);
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-align: left;
    border-radius: 12px;
    padding: 0 3px;
    margin: 2px 0;
}

.dToggle input:checked + span {
    text-align: right;
    background: rgb(47 183 30);
    color: #fff
}

.dToggle.dRed input:checked + span {
    background: rgb(232 75 68);
}

.dToggle.dYellow input:checked + span {
    background: rgb(220 198 43);
}

.dControl {
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 100002;
    opacity: 0.9;
    padding: 3px;
    background: rgb(42 42 42);
    border-radius: 5px 0 0 5px;
}

.dLine {
    height: 2px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100001;
    background: #c00;
    transform: scaleX(0);
    transform-origin: left center;
    opacity: 0.9;
}
.dLine.reload-provisioning{
    background: #f28000e6;
}